// $icon_width: 170px;
// $icon_height: 115.2px;
// $num_icons: 15;

// html, body {
//   height: 100%;
//   margin: 0;
// }

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: linear-gradient(45deg, grey 0%, lightgray 100%);
// }

// .slots {
//   position: relative;
//   width: calc(3.5 * #{$icon_width}); // Adjust container width based on icon width
//   height: calc(3 * #{$icon_height}); // Adjust container height based on icon height
//   display: flex;
//   justify-content: space-between;
//   padding: calc(0.4 * #{$icon_width});
//   background-image: url('./assets/REEL AREA.png');  
//   background-size:contain; // Ensure the background covers the container
//   background-position: center;
//   background-repeat: no-repeat;

//   .reel {
//     position: relative;
//     width: $icon_width;
//     height: calc(3 * #{$icon_height});
//     border: 1px solid rgba(black, 0.3);
//     border-radius: 3px;
//     overflow: hidden;
//     background-image: url('./assets/spin.png');
//     background-position: 3px 0; // Adjust the position of the icons
//     background-size: cover; // Cover the reel with the icons background
//     background-repeat: repeat-y;
//   }
// }



$icon_width: 170px;
$icon_height: 115.2px;
$num_icons: 15;

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, grey 0%, lightgray 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slots {
  position: relative;
  width: calc(3.5 * #{$icon_width}); // Adjust container width based on icon width
  height: calc(3 * #{$icon_height}); // Adjust container height based on icon height
  display: flex;
  justify-content: space-between;
  padding: calc(0.4 * #{$icon_width});
  background-image: url('./assets/REEL AREA.png');  
  background-size: contain; // Ensure the background covers the container
  background-position: -3px ;
  background-repeat: no-repeat;

  .reel {
    position: relative;
    width: $icon_width;
    height: calc(3 * #{$icon_height});
    border: 1px solid rgba(black, 0.3);
    border-radius: 3px;
    overflow: hidden;
    background-image: url('./assets/spin1.png');
    background-position: 0px 0; // Adjust the position of the icons
    background-size: cover; // Cover the reel with the icons background
    background-repeat: repeat-y;
  }
}

// Circular button styling
.circular-button {
	position: absolute;
	top: 500px;
	bottom: auto;
	left: 1050px;
	right: auto;
  margin-top: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: url('./assets/Spin.png');
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

 

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Optional hover effect
  }
}
